<%-include ("partials/header.ejs")%>
<%-include ("partials/main_nav.ejs")%>

<main class="conainer--about">
  <!--<dic vlass="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4"> Welcome to the <%= title%> page</h1>
  </div>-->
   <div class="introduction--binny">
    <div class="name--binny">
      <h1>Binet Sheriff</h1>
      <br>
      <p> A Toronto based software development Engineer student that 
      strives for excellence and combines machine learning to design coding.
      I am passionate about life in constant pursuite of imorovement. Therefore, 
      new friends and challenges are always encouraged. If you would like to know more
      about my skills look over my resume below.
      </p>
      <br>
      <p class="information-binny">
        <a href="Assets/images/BinetSheriff.Resume.pdf">Resume</a>
      <!---- <a href="Assests/images/BinetSheriff_Resume.pdf">Click to Download</a>--->
           <span>&nbsp;|&nbsp;</span>
      </p>
    </div>
    <div class="image--binny">
      <img src="Assets/images/binny.jpg" style="width: 400px"/>
    </div>
  </div>
</main>
</div>

   <%-include ("partials/bottom_nav.ejs")%><%-include ("partials/footer.ejs")%>  
 

