 <!-- Web Application Development
    Assignment 1
    HTML
    Author: Binet Sheriff
    Student# 301253726 -->
    <%-include ("partials/header.ejs")%><%-include ("partials/main_nav.ejs")%>

  <!-- Main content -->
<main class="container-project">
   <div class="jumbotron">
     <h1 class="welcome-projects"> <%= title %> </h1>
   </div>
   <div class="selected-projects">
   <div class="project">
   <a href="http://studentweb.cencol.ca/bsheriff/assign4/assignment4.html" target="blank"><img class="portfolio-image" alt="Image of the form project" src="Assets/images/project1.png"></a>
   <p class="project-description">Registration Form</p>
   </div>
   <div class="project">
   <a href="http://studentweb.cencol.ca/bsheriff/IndividualProject/IndividualProject.html" target="blank"><img class="portfolio-image" alt="Image of the Real Estate project" src="Assets/images/project2.png"></a>
   <p class="project-description">Real Estate Web Page</p>
   </div>
   <div class="project">
   <a href="http://studentweb.cencol.ca/bsheriff/SHERIFF.SEC.004.Assign2.TableData/assignment2.html" target="blank"><img class="portfolio-image" alt="Image of the Table Builder project" src="Assets/images/project3.png"></a>
   <p class="project-description">Table Builder</p>
   </div>
   <div class="project">
   <a href="http://studentweb.cencol.ca/bsheriff/SHERIFF.SEC.004.ASSIGN3.ART/photo.html" target="blank"><img class="portfolio-image" alt="Image of the Favourites project" src="Assets/images/project.4.png"></a>
   <p class="project-description">Photo Gallery</p>
   </div>
   <div class="project">
   <a href="http://studentweb.cencol.ca/bsheriff/membershipform.assign4/assignment4.html" target="blank"><img class="portfolio-image" alt="Image of the Registration project" src="Assets/images/project5.png"></a>
   <p class="project-description">Form Validation</p>
   </div>
   <div class="project">
   <a href="http://studentweb.cencol.ca/bsheriff/SHERIFF.SEC.4.assign5/assignment5.html" target="blank"><img class="portfolio-image" alt="Image of the Lady Bug project" src="Assets/images/project6.png"></a>
   <P class="project-description">Lady Bug Catcher Game</P>
   </div>
   </div>
 </main>

  

 <%-include ("partials/bottom_nav.ejs")%><%-include ("partials/footer.ejs")%>  
 

